<div class="institutions-form card">
  <h2>Institutions</h2>
  <button pButton label="Create New Institution" [routerLink]="'/institutions/create'" class="p-button-success create-btn"></button>

  <h2>All Institutions</h2>

  <!-- Search Bar -->
  <div class="search-container">
    <input 
      type="text" 
      pInputText 
      placeholder="Search Institutions..." 
      [(ngModel)]="searchQuery" 
      (ngModelChange)="filterInstitutions()" 
      class="search-input"
    />
  </div>

  <div *ngIf="filteredInstitutions.length">
    <ul class="institution-list">
      <li *ngFor="let institution of filteredInstitutions" class="institution-item card">
        <div class="institution-content">
          <a class="institution-name" [routerLink]="['/prostorija-form', institution.idInstitution]">{{ institution.name }}</a>
          <div class="action-buttons">
            <button pButton icon="pi pi-pencil" class="p-button-warning edit-btn" [routerLink]="['/institutions/edit', institution.idInstitution]"></button>
            <button pButton icon="pi pi-trash" class="p-button-danger delete-btn" (click)="deleteInstitution(institution.idInstitution)"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!filteredInstitutions.length && institutions.length">
    <p>No institutions match your search criteria.</p>
  </div>
  <div *ngIf="!institutions.length">
    <p>No institutions available. Please create a new institution.</p>
  </div>
</div>
