<div class="form-container">
  <form [formGroup]="inventuraForm" (ngSubmit)="onSubmit()" class="p-fluid form-padding">

    <div class="p-field">
      <label for="naziv">Naziv:</label>
      <input id="naziv" type="text" pInputText formControlName="naziv" />
      <div *ngIf="inventuraForm.get('naziv')?.invalid && inventuraForm.get('naziv')?.touched" class="p-error">
        Naziv is required.
      </div>
    </div>

    <div class="p-field">
      <label for="datumPocetka">Datum Pocetka:</label>
      <p-calendar id="datumPocetka" formControlName="datumPocetka" dateFormat="yy-mm-dd" showIcon="true"></p-calendar>
      <div *ngIf="inventuraForm.get('datumPocetka')?.invalid && inventuraForm.get('datumPocetka')?.touched" class="p-error">
        Datum Pocetka is required.
      </div>
    </div>

    <div class="p-field">
      <label for="datumZavrsetka">Datum Zavrsetka:</label>
      <p-calendar id="datumZavrsetka" formControlName="datumZavrsetka" dateFormat="yy-mm-dd" showIcon="true"></p-calendar>
      <div *ngIf="inventuraForm.get('datumZavrsetka')?.invalid && inventuraForm.get('datumZavrsetka')?.touched" class="p-error">
        Datum Zavrsetka is required.
      </div>
    </div>

    <div class="p-field">
      <label for="akademskaGod">Akademska Godina:</label>
      <p-inputNumber id="akademskaGod" formControlName="akademskaGod" [useGrouping]="false"></p-inputNumber>
      <div *ngIf="inventuraForm.get('akademskaGod')?.invalid && inventuraForm.get('akademskaGod')?.touched" class="p-error">
        Akademska Godina is required.
      </div>
    </div>

    <div class="p-field">
      <label for="institution">Institution:</label>
      <p-dropdown [options]="institutions" optionLabel="name" formControlName="institution" placeholder="Select Institution" (onChange)="onInstitutionChange($event)"></p-dropdown>
    </div>

    <div class="field">
      <label for="loadUsers">Users</label>
      <p-multiSelect
        formControlName="loadUsers"
        [options]="users"
        [(ngModel)]="selectedUsers"
        [defaultLabel]="'Select Users'"
        optionLabel="name"
        [selectedItemsLabel]="'{0} users selected'"
        [maxSelectedLabels]="3"
        [showHeader]="true"
        [showToggleAll]="true"
        [filter]="true"
      ></p-multiSelect>
    </div>

    <button type="submit" pButton label="Submit" icon="pi pi-check" [disabled]="inventuraForm.invalid" class="submitButton"></button>
  </form>
</div>
