<!-- artikl-form.component.html -->

<div class="artikl-form card">
    <!-- Display the selected prostorija's name -->
    <h2>{{ selectedProstorija?.name }}</h2>
    
    <!-- Button to create a new artikl -->
    <button pButton label="Create New Artikl" [routerLink]="['/artikl/create', idProstorija]" class="p-button-success create-btn"></button>
  
    <!-- Heading for the artikli section -->
    <h2>All Artikli</h2>
    
    <!-- Display list of artikli if available -->
    <div *ngIf="artikli.length; else noArtikliTemplate">
      <ul class="artikl-list">
        <li *ngFor="let artikl of artikli" class="artikl-item card">
          <!-- Link to view artikl details -->
          <a class="artikl-name" [routerLink]="['/artikl-form', artikl.idArtikl]">{{ artikl.name }}</a>
          <div class="action-buttons">
            <!-- Button to edit the artikl -->
            <button pButton icon="pi pi-pencil" class="p-button-warning edit-btn" [routerLink]="['/artikl/edit', artikl.idArtikl]"></button>
            <!-- Button to delete the artikl -->
            <button pButton icon="pi pi-trash" class="p-button-danger delete-btn" (click)="deleteArtikl(artikl.idArtikl)"></button>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- Template for when no artikli are available -->
    <ng-template #noArtikliTemplate>
      <p class="no-artikli-message">No artikli available. Please create a new artikl.</p>
    </ng-template>
  </div>
  