<p-dialog header="Confirm" [(visible)]="displayConfirmDialog" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
  <p>Are you sure you want to delete this artikl?</p>
  <p-footer>
    <button pButton label="Cancel" icon="pi pi-times" (click)="closeConfirmDialog()" class="p-button-text"></button>
    <button pButton label="Confirm" icon="pi pi-check" (click)="confirmDelete()" class="p-button-text"></button>
  </p-footer>
</p-dialog>

<div class="artikl-form card">
  <h2>Prostorija: {{ selectedProstorija?.name }}</h2>
  <button pButton label="Create New Artikl" [routerLink]="['/artikl/create', idProstorija]" class="p-button-success create-btn"></button>

  <h2>All Artikli</h2>

  <div class="search-container">
    <input 
      type="text" 
      pInputText 
      placeholder="Search Artikli..." 
      [(ngModel)]="searchQuery" 
      (ngModelChange)="filterArtikli()" 
      class="search-input"
    />
  </div>

  <div *ngIf="artikli.length; else noArtikliTemplate">
    <ul class="artikl-list">
      <li *ngFor="let artikl of filteredArtikli" class="artikl-item card">
        <div class="artikl-content">
          <a class="artikl-name" [routerLink]="['/artikl-form', artikl.idArtikl]">{{ artikl.name }}</a>
          <div class="action-buttons">
            <button pButton icon="pi pi-pencil" class="p-button-warning edit-btn" [routerLink]="['/artikl/edit', artikl.idArtikl]"></button>
            <button pButton icon="pi pi-trash" class="p-button-danger delete-btn" (click)="showConfirmDialog(artikl.idArtikl)"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noArtikliTemplate>
    <p class="no-artikli-message">No artikli available. Please create a new artikl.</p>
  </ng-template>
</div>
