<p-dialog header="Potvrda brisanja" [(visible)]="displayConfirmDialog" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
  <p>Jeste li sigurni da želite izbrisati ovaj artikl?</p>
  <p-footer class="ui-dialog-footer">
    <div class="button-group-dialog">
      <button pButton label="Odustani" icon="pi pi-times" (click)="closeConfirmDialog()" class="ui-button ui-button-secondary"></button>
      <button pButton label="Potvrdi" icon="pi pi-check" (click)="confirmDelete()" class="ui-button ui-button-primary"></button>
    </div>
  </p-footer>
</p-dialog>

<div class="artikl-form card">
  <h2>Prostorija: {{ selectedProstorija?.name }}</h2>
  <button pButton label="Kreiranje artikla" [routerLink]="['/artikl/create', idProstorija]" class="p-button-success create-btn"></button>

  <h2>Svi artikli</h2>

  <div class="search-container">
    <input 
      type="text" 
      pInputText 
      placeholder="Traži artikl..." 
      [(ngModel)]="searchQuery" 
      (ngModelChange)="filterArtikli()" 
      class="search-input"
    />
  </div>

  <div *ngIf="artikli.length; else noArtikliTemplate">
    <ul class="artikl-list">
      <li *ngFor="let artikl of filteredArtikli" class="artikl-item card">
        <div class="artikl-content">
          <span class="artikl-name">{{ artikl.name }}</span>
          <div class="action-buttons">
            <button pButton icon="pi pi-pencil" class="p-button-warning edit-btn" [routerLink]="['/artikl/edit', artikl.idArtikl]"></button>
            <button pButton icon="pi pi-trash" class="p-button-danger delete-btn" (click)="showConfirmDialog(artikl.idArtikl)"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noArtikliTemplate>
    <p class="no-artikli-message">Nema dostupnih artikala. Molimo kreirajte novi artikl.</p>
  </ng-template>
</div>
