<div class="container" *ngIf="inventura">
  <div class="card">
    <div class="card-header">
      <h2>{{ inventura.naziv }}</h2>
      <button pButton label="Skeniraj" (click)="startScanning()" class="p-button-primary"></button>
    </div>

    <div class="card-body">
      <h3 *ngIf="inventura.institution">Institution: {{ inventura.institution.name }}</h3>
      
      <!-- Button Wrapper for positioning -->
      <div *ngIf="isAdmin" class="button-wrapper">
        <button pButton label="Back" (click)="goBack()" class="p-button-secondary back-btn"></button>
        <button *ngIf="inventura.stanje" pButton label="Zavrsi" (click)="showConfirmDialog()" class="p-button-success finish-btn"></button>
      </div>

      <ng-container *ngIf="inventura.institution && inventura.institution.prostorijas">
        <div *ngFor="let room of inventura.institution.prostorijas" class="room">
          <h4>Room: {{ room.name }}</h4>
          <ul>
            <ng-container *ngIf="room.artikls">
              <li *ngFor="let artikl of room.artikls" class="artikl">
                <span class="artikl-id">Id Artikla: {{ artikl.idArtikl }}</span>
                <span class="artikl-name">Ime: {{ artikl.name }}</span>
                <input type="checkbox" [checked]="artikl.prisutan" (change)="onPrisutanChanged(artikl.idArtikl, $event)"/>
              </li>
            </ng-container>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="scanning" class="scanner-container">
    <zxing-scanner [formats]="[4]" (scanSuccess)="onBarcodeScanned($event)"></zxing-scanner>
  </div>

  <app-confrimation-dialog-zavrsi
    [display]="displayConfirmDialog"
    (displayChange)="displayConfirmDialog = $event"
    (confirmAction)="finishInventura()">
  </app-confrimation-dialog-zavrsi>
</div>
