.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 1.1em;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .container-fluid {
    display: flex;
  }
  