<div class="card institution-card">
  <div class="card-header institution-card-header">
    Uredi institucijiu
  </div>
  <div class="card-body">
    <form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Naziv:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name" required>
      </div>

      <div class="form-buttons">
        <button type="submit" [disabled]="!institutionForm.valid" class="btn btn-primary">Ažuriraj instituciju</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Otkaži</button>
      </div>
    </form>
  </div>
</div>
