<div class="parent">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <label for="chk" aria-hidden="true">Registracija</label>
        <input type="text" name="txt" placeholder="Ime" required="" formControlName="firstname">
        <input type="text" name="txt" placeholder="Prezime" required="" formControlName="lastname">
        <input type="email" name="email" placeholder="Email" required="" formControlName="email">
        <input type="password" name="pswd" placeholder="Lozinka" required="" formControlName="password">
        <button type="submit">Registrirajte se</button>
      </form>
    </div>

    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="chk" aria-hidden="true">Prijava</label>
        <input type="email" name="email" placeholder="Email" required="" formControlName="email">
        <input type="password" name="password" placeholder="Lozinka" required="" formControlName="password">
        <button type="submit">Prijava</button>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Success" [(visible)]="successVisible" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
  <div class="ui-dialog-content">
    <p>Registracija uspjela.</p>
  </div>
  <p-footer class="ui-dialog-footer">
    <button pButton label="OK" icon="pi pi-check" (click)="closeSuccessDialog()" class="ui-button ui-button-primary"></button>
  </p-footer>
</p-dialog>

<!-- Error Dialog for Login -->
<p-dialog header="Greška" [(visible)]="loginErrorVisible" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
  <div class="ui-dialog-content">
    <p>{{ loginErrorMessage }}</p>
  </div>
  <p-footer class="ui-dialog-footer">
    <button pButton label="OK" icon="pi pi-times" (click)="closeLoginErrorDialog()" class="ui-button ui-button-secondary"></button>
  </p-footer>
</p-dialog>
