<div class="institution-create-form">
  <h2>Kreirajte novu instituciju</h2>
  <form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="name">Naziv institucije</label>
      <input id="name" type="text" formControlName="name" pInputText />
      <div *ngIf="institutionForm.get('name')?.invalid && (institutionForm.get('name')?.dirty || institutionForm.get('name')?.touched)" class="error">
        <small *ngIf="institutionForm.get('name')?.errors?.['required']">Naziv institucije je obavezan.</small>
      </div>
    </div>
    <button
  pButton
  label="Kreiraj instituciju"
  type="submit"
  class="p-button-success"
  [disabled]="institutionForm.invalid || isLoading">
</button>

<div *ngIf="isLoading" class="loading-spinner">
  Kreiranje institucije...
</div>
  </form>
</div>
