<div class="card institution-card">
  <div class="card-header institution-card-header">
    Edit Prostorija
  </div>
  <div class="card-body">
    <form [formGroup]="prostorijaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name" required>
      </div>

      <div class="form-buttons">
        <button type="submit" [disabled]="!prostorijaForm.valid" class="btn btn-primary">Update Prostorija</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>