.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.card-header {
  background-color: #007ad9;
  color: white;
  padding: 20px;
  text-align: center;
}

.card-header h2 {
  margin: 0;
  font-size: 26px;
}

.card-body {
  padding: 20px;
}

.institution-name {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  font-weight: 500;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.user-chip {
  background-color: #e0f0ff;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: #007ad9;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(0, 122, 217, 0.2);
}

.artikl-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 15px;
}

.artikl-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f9ff;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 0 2px 6px rgba(0, 122, 217, 0.1);
}

.artikl-name {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.artikl-name:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.back-button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
}

.scanner-button {
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.scanner-hint {
  margin-bottom: 10px;
  opacity: 70%;
  font-size: 0.95rem;
}

.scan-result {
  margin-bottom: 15px;
}

.scan-ok-button {
  border-radius: 10px;
  margin-left: auto;
  display: block;
  color: white;
  border: none;
  cursor: pointer;
}
p-dropdown {
  margin-bottom: 15px;
}
