<div class="container" *ngIf="detailData">
  <div class="card">
    <div class="card-header">
      <h2>Prostorija: {{ detailData.name }}</h2>
    </div>

    <div class="card-body">
      <h3 class="institution-name">Djelatnici</h3>
      <div class="user-list">
        <span *ngFor="let user of detailData.users" class="user-chip">
          <i class="pi pi-user"></i> {{ user.firstname }} {{ user.lastname }}
        </span>
      </div>

      <h3 class="institution-name">Artikli</h3>
      <div class="artikl-list">
        <div *ngFor="let artikl of detailData.artikls" class="artikl-item">
          <span class="artikl-name">{{ artikl.name }}</span>
          <p-toggleButton
            [ngModel]="artikl.prisutan"
            [disabled]="!detailData.inventuraStanje"
            onIcon="pi pi-check-circle"
            offIcon="pi pi-question-circle"
            onLabel="Prisutan"
            offLabel="Nije prisutan"
            (onChange)="togglePrisutan(artikl.idArtikl, artikl.prisutan)"
          >
          </p-toggleButton>
        </div>
      </div>

      <div class="button-container">
        <button class="back-button" (click)="goBack()">Nazad</button>
        <button
          *ngIf="detailData.inventuraStanje"
          pButton
          class="scanner-button"
          type="button"
          label="Skeniraj"
          icon="pi pi-barcode"
          (click)="startScanner()"
        ></button>
      </div>

      <div class="scanner-container"></div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="scannerEnabled"
  [modal]="true"
  header="Skeniranje artikala"
>
  <div class="scanner-hint">
    Skenirajte barkod artikla da bi ga označili prisutnog u ovoj inventuri.
  </div>
  <zxing-scanner
    *ngIf="scannerEnabled"
    [tryHarder]="true"
    [formats]="allowedFormats"
    (scanSuccess)="onCodeResult($event)"
  >
  </zxing-scanner>

  <p-dialog
    [visible]="lastScannedArtikl != null"
    header="Artikl uspješno skeniran"
    [closable]="false"
    [draggable]="false"
    [modal]="true"
  >
    <div class="scan-result">
      <div>Aritkl je označen prisutan.</div>
      <div>
        Aritkl: <b>{{ lastScannedArtikl?.name }}</b>
      </div>
      <div>
        ID: <b>{{ lastScannedArtikl?.idArtikl }}</b>
      </div>
    </div>
    <button
      pButton
      class="scan-ok-button"
      (click)="lastScannedArtikl = undefined"
    >
      U redu
    </button>
  </p-dialog>

  <p-dialog
    [visible]="scannedError"
    header="Greška u skeniranju"
    [closable]="false"
    [draggable]="false"
    [modal]="true"
  >
    <div class="scan-result">Dogodila se greška, artikl možda ne postoji.</div>
    <button pButton class="scan-ok-button" (click)="scannedError = false">
      U redu
    </button>
  </p-dialog>
</p-dialog>
