<p-dialog header="Confirm" [(visible)]="display" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
    <div class="ui-dialog-content">
      <p>Are you sure you want to finish inventura?</p>
    </div>
    <p-footer class="ui-dialog-footer">
      <button pButton label="Cancel" icon="pi pi-times" (click)="close()" class="ui-button ui-button-secondary"></button>
      <button pButton label="Confirm" icon="pi pi-check" (click)="confirm()" class="ui-button ui-button-primary"></button>
    </p-footer>
  </p-dialog>
  