<div class="container">
  <div class="card">
    <div class="card-header">
      <button pButton label="Kreiraj Inventuru" [routerLink]="'/inventura-form'" class="p-button-success"></button>
      <button pButton label="Institucije" [routerLink]="'/institutions-form'" class="p-button-primary"></button>
    </div>

    <div class="card-body">
      <p-table [value]="inventuraList" class="mt-5">
        <ng-template pTemplate="header">
          <tr>
            <th>Naziv</th>
            <th>Datum Pocetka</th>
            <th>Datum Zavrsetka</th>
            <th>Akademska Godina</th>
            <th>Institucija</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventura>
          <tr>
            <td>{{ inventura.naziv }}</td>
            <td>{{ inventura.datumPocetka | date: 'dd/MM/yyyy' }}</td>
            <td>{{ inventura.datumZavrsetka | date: 'dd/MM/yyyy' }}</td>
            <td>{{ inventura.akademskaGod }}</td>
            <td>{{ inventura.institutionName }}</td>
            <td>
              <button pButton label="Prikaz" (click)="viewInventuraDetails(inventura.idInventura)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
