
<p-dialog header="Potvrda brisanja" [(visible)]="displayDialog" modal="modal" [style]="{width: '300px'}" [baseZIndex]="10000">
  <p>Jeste li sigurni da želite izbrisati ovu prostoriju? </p>
  <p-footer class="ui-dialog-footer">
    <div class="button-group-dialog">
      <button pButton label="Odustani" icon="pi pi-times" (click)="closeDialog()" class="ui-button ui-button-secondary"></button>
      <button pButton label="Potvrdi" icon="pi pi-check" (click)="confirmDelete()" class="ui-button ui-button-primary"></button>
    </div>
  </p-footer>
</p-dialog>

<div class="prostorija-form card">
  <h2>Institutcija: {{ selectedInstitution?.name }}</h2>

  <button pButton label="Kreiraj prostoriju" [routerLink]="['/prostorija/create', idInstitution]" class="p-button-success create-btn"></button>

  <h2>Sve prostroije</h2>

  <div class="search-container">
    <input 
      type="text" 
      pInputText 
      placeholder="Traži prostorije..." 
      [(ngModel)]="searchQuery" 
      (input)="filterRooms()" 
      class="search-input"
    />
  </div>

  <div *ngIf="filteredRooms.length; else noRoomsTemplate">
    <ul class="room-list">
      <li *ngFor="let room of filteredRooms" class="room-item card">
        <div class="room-content">
          <a class="room-name" [routerLink]="['/artikl-form', room.idProstorija]">{{ room.name }}</a>
          <div class="action-buttons">
            <button pButton icon="pi pi-pencil" class="edit-btn" [routerLink]="['/prostorija/edit', room.idProstorija]"></button>
            <button pButton icon="pi pi-trash" class="delete-btn" (click)="prepareDeleteRoom(room.idProstorija)"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noRoomsTemplate>
    <p class="no-rooms-message">Nema dostupnih prostorija. Molimo vas da kreirate novu prostoriju.</p>
  </ng-template>
</div>
