<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="button-group">
        <div class="left-buttons">
          <button
            pButton
            label="Kreiraj Inventuru"
            [routerLink]="'/inventura-form'"
            class="p-button-success btn-custom"
          ></button>
        </div>
        <button
          pButton
          label="Aktivne Inventure"
          [routerLink]="'/dashboard/list/admin'"
          class="p-button-primary btn-custom btn-right"
        ></button>
      </div>
    </div>

    <div class="card-body">
      <h2 class="list-heading">Lista svih inventura</h2>

      <p-table [value]="inventuraList" class="mt-5 table-custom">
        <ng-template pTemplate="header">
          <tr>
            <th>Naziv</th>
            <th>Datum početka</th>
            <th>Datum završetka</th>
            <th>Akademska godina</th>
            <th>Institucija</th>
            <th>Status</th>
            <th>Radnje</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventura>
          <tr>
            <td>{{ inventura.naziv }}</td>
            <td>{{ inventura.datumPocetka | date : "dd/MM/yyyy" }}</td>
            <td>{{ inventura.datumZavrsetka | date : "dd/MM/yyyy" }}</td>
            <td>{{ inventura.akademskaGod }}</td>
            <td>{{ inventura.institutionName }}</td>
            <td>
              {{
                inventura.stanje
                  ? "Inventura u provođenju"
                  : "Završena inventura"
              }}
            </td>
            <td>
              <button
                pButton
                label="Detalji"
                (click)="viewInventuraDetails(inventura.idInventura)"
                class="btn-action"
              ></button>
              <button
                pButton
                label="Uredi"
                (click)="editInventura(inventura.idInventura)"
                class="btn-edit"
              ></button>
              <button
                pButton
                label="Obriši"
                (click)="openDeleteDialog(inventura.idInventura)"
                class="btn-delete"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    header="Potvrda brisanja"
    [(visible)]="displayDialog"
    modal="modal"
    [style]="{ width: '300px' }"
    [baseZIndex]="10000"
  >
    <div class="ui-dialog-content">
      <p>Jeste li sigurni da želite izbrisati ovu stavku?</p>
    </div>
    <p-footer class="ui-dialog-footer">
      <div class="button-group-dialog">
        <button
          pButton
          label="Odustani"
          icon="pi pi-times"
          (click)="closeDialog()"
          class="ui-button ui-button-secondary"
        ></button>
        <button
          pButton
          label="Potvrdi"
          icon="pi pi-check"
          (click)="confirmDelete()"
          class="ui-button ui-button-primary"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
